TELEGRAM_BOT_TOKEN=8029186285:AAGesSlHADz4zgyjUJvCNP0hsDruN659aQw
OPENAI_API_KEY=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